[submodule "pGramsFC"]
	path = pGramsFC
	url = https://github.com/STA205233/pGramsFC.git
[submodule "GramsReadout"]
	path = GramsReadout
	url = https://github.com/NevisNeutrinos/GramsReadout.git
[submodule "grams-tof"]
	path = grams-tof
	url = git@github.com:kenichisakai-git/grams-tof.git
[submodule "AD3Control"]
	path = AD3Control
	url = https://github.com/NevisNeutrinos/AD3Control.git
